*{
    
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#ffffff;
    color: #35424a;
}

header {
    background-color: #35424a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2.5rem;

}

/* new letter */



#newsletter1{
  padding-top: 9px;
  padding-bottom: 96px;
    color:black;
    background-color: rgb(241, 233, 6);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 450px;
    padding-right:36px;
}

#newsletter1 h3{
    float:left;
    font-size: 150%;
    


}

.container4 h3{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 30%;
}


#newsletter1 form{
    float:right;
    margin:20px;
}

#newsletter1 input[ type="email"] {
    padding:5px;
    height: 28px;
    width:240px;
  
}

.button_3 {
    height: 39px;
    background-color: #e8491d;
    color:white;
    font-size: 15px;
    border:0px;
    padding-left: 20px;
    padding-right:20px;
}




/* container */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 12rem;
    margin-bottom: 4rem;

}

.about-section h2 {
    font-size: 2rem;
    color: #35424a;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 37px;
    margin-right:200px;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

footer {
    text-align: center;
    padding: 0.15rem;
    background-color: #35424a;
    color: #fff;
    bottom: 2;
    width: 100%;
}

footer p{
    padding-top: 25px;
    
}

.button_2 {
    height: 39px;
    background-color: #e8491d;
    color:white;
    font-size: 15px;
    border:0px;
    padding-left: 20px;
    padding-right:20px;
}

.button_2 :hover{
    text-decoration: none;
    color: white;
    
}

.button_2 a{
    text-decoration: none;
    font-family: Arial;
    color:white
}

